/TeamOneProject/nbproject/private/
/TeamOneProject/dist/
/TeamOneProject/build/
/DatabaseTester/nbproject/private/
/DatabaseTester/build/
/AesEncryptDecryptTool/nbproject/private/
/AesEncryptDecryptTool/build/
/AesEncryptDecryptTool/dist/